@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');  /* importing ROBOTO in css */

*{
    margin: 0;
    padding: 0;
}

.body{
    display: flex;
    flex-direction: column;
    font-family: Roboto,'Times New Roman', Times, serif;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    background-color: #1f2937;

}

.logo{
    font-family: Roboto,'Times New Roman', Times, serif;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
}

li{
    font-family: Roboto,'Times New Roman', Times, serif;
    font-size: 18px;

}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.hero{
    background-color: #1f2937;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 450px;
    flex-wrap: wrap;
    gap: 20px;
}

.texts{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0 0 30%;
    margin-bottom: 50px;
}

.first{
    width: 80%;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary{
    width: 100%;
    font-size:18px;
    color: #e5e7eb;
}

.button{
    background-color: #3882f6;
    color: #e5e7eb;
    border:none;
    align-self:flex-start;
    padding: 4px 33px;
    border-radius: 8px;
    font-weight: bold;
    font-family: Roboto,'Times New Roman', Times, serif;
}


.hero-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.hero-image img{
    height: 250px;
    width: 525px;
}




